{% extends "master.html"%}

{%block body%}
<script src="/js/default.js" type = "text/javascript"></script>
<div>

</div>
<br/>
<br/>
<br/>
<!-- <div class="loginForm">
	<form method ="post">
        <label for="username"> Username: </label>
        <input name="username" type="text" value="blah"><br/>
        <label for="password"> Password: </label>
        <input name="password" type="text" value="blah"> <br/>
    <input name="loginButton" type="submit" value="Login">

    </form>
</div>
<p></p><p></p>-->
<div id="mapdiv" style="width: 800px; height: 500px; margin: auto; margin-top:100px;"></div>


{%endblock%}