{% extends "master.html"%}

{%block body%}
<div id="Registration" class = "registration">
	<h1>Create an Account</h1>
	<form method="post">
	<input name="username" class="rounded" type="text" placeholder="Username"> <br/> <br/>
	<input name="email" class="rounded" type="text" placeholder="Email Address"> <br/> <br/>
	<input name="password" class="rounded" type="text" placeholder="Enter Password"> <br/> <br/>
	<input name="password" class="rounded" type="text" placeholder="Re-type Password"> <br/> <br/>
	<div class="registerButton"><button class="searchButton">Create Account</button></div>
	</form>
</div>

{%endblock%}